@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto';
    background-color: #323E40;
}

.list {
    position: absolute;
}

.list_element {
    border-radius: 15px;
    background: #323E40;
    box-shadow:  5px 5px 10px #2c3738,
                 -5px -5px 10px #384548;
    color: #D97D0D;
    text-align: center;
    padding-top: 3vh;
    padding-bottom: 3vh;
    margin-right: 4vh;
    margin-left: 4vh;
}

.open_list {
    border-radius: 15px;
    background: #323E40;
    box-shadow: inset 5px 5px 10px #2c3738,
                inset -5px -5px 10px #384548;
    color: #D97D0D;
    text-align: center;
    padding-top: 60vh;
    margin-right: 4vh;
    margin-left: 4vh;
}

.header {
    position: sticky;
    text-align: center;
    color: #D97D0D;
    background: #323E40;
    box-shadow:  5px 5px 10px #2c3738,
                -5px -5px 10px #384548;
    padding-top: 3vh;
    padding-bottom: 3vh;
}
