@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto';
    background-color: #F2F2F2;
}

.list {
    position: absolute;
    overflow: hidden;
}

.list_element {
    border-radius: 15px;
    background: #F2F2F2;
    box-shadow:  5px 5px 10px #cecece,
                 -5px -5px 10px #ffffff;
    color: #D9072D;
    text-align: center;
    transition: padding-bottom 2s, padding-top 2s;
    padding-top: 3vh;
    padding-bottom: 3vh;
    margin-right: 4vh;
    margin-left: 4vh;
    
}

.open_list {
    border-radius: 15px;
    background: #F2F2F2;
    box-shadow: inset 5px 5px 10px #cecece,
                inset -5px -5px 10px #ffffff;
    color: #D9072D;
    text-align: center;
    transition: padding-bottom 2s, padding-top 2s;
    margin-right: 4vh;
    margin-left: 4vh;
    
}

.header {
    position: sticky;
    text-align: center;
    color: #D9072D;
    background: #F2F2F2;
    box-shadow:  5px 5px 10px #cecece,
                -5px -5px 10px #ffffff;
    padding-top: 3vh;
    padding-bottom: 3vh;
}
